 /* Customize the carousel styles as needed */
 .carousel {
    overflow: hidden;
  }

  .carousel-inner {
    display: flex;
    transition: transform 1s ease-in-out;
  }

  .carousel-item {
    min-width: 100%;
  }
 
  html {
  scroll-behavior: smooth;
}

.bg-blur {
  backdrop-filter: blur(8px); /* Adjust the blur value as needed */
}